*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
//  position: relative;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    vertical-align: middle;
    border: 0;
}
@font-face {
  font-family: "icontfont";
  src:url("../font/SFNSText-Medium.woff");
}
.iconfont{
  font-family: "iconfont";
}
html{
  font-size: 100px;
}
body{
  background: url("../img/packed-4.png") repeat;
  font-size: 16px;
}

//颜色
$color:("blue":#04ACF6,"green":#56D75E,"yellow":#EFCB41,"brown":#A57D59,"pink":#FF2369,"orange":#FD7830,"purple":#CB7AD7);
                @each $i in map_keys($color) { 
                      $l:map_get($color,$i);                
                      .right.#{$i}{
//                      background-color: nth($l,1);
                      }
                }  
//              @each $v in map_keys($map){
//          $l:map_get($map,$v);
//          .hh.#{$v}{
//              color: nth($l,1);
//              background: url("t.png");
//              background-position:nth($l,2) nth($l,3) ;
//          }
//      }          
@mixin center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
@mixin display {
    display: block; //  width: 100%;
    height: 100%;
}
#box{
    width: 100%;
    height: auto;
    @include center;
    .left{
        float: left;
        width: 30%;
        min-width: 280px;
        height: 100%;
        background: #383836;
        overflow-x: hidden;
        .header{
            width: 100%;
            height:49px;
            border-bottom: 2px solid #31312F;
            padding: 0 15px;
            .b{
                display: inline-block;
                padding-top:14px;
                width:80px;
                height:17px;
                background: url("../img/icloud.png");
                background-position: 8px -588px;
            }
            .remind{
                position: relative;
                color: #9D9D9D;
                font-size: 20px;
                height: 100%;
                line-height: 51px;
              .list-ico{
                    display: block;
                    border-bottom:5px solid transparent;
                    border-left: 5px solid transparent;
                    border-top: 5px solid #9D9D9D;
                    border-right: 5px solid transparent;
                    position: absolute;
                    right: -12px;
                    top: 10px;
                }
     
            }
            .remind:hover{
                color: #fff;
            }
            .remind:hover .list-ico{
                border-top: 5px solid ;
            }
             #additem{
                 float: right;
                 height: 100%;
                 line-height: 51px;
                 color: #fff;
                 font-weight: bold;
                 font-size: 30px;
                padding: 0 10px;
                margin-right: 20px;
    }
        }
        .plan,.things{
            width: 100%;
            height: 49px;
            border-bottom: 1px solid #31312F;
        }
        .plan{
            padding-left: 15px;
            .clock{
                float: left;
                width:19px;
                 height:19px;
                 margin: 14px 10px 0px 0px;
                 background: url(../img/icloud.png) no-repeat;
            background-position: -11px -371px;
            }
            .ready{
                float: left;
                font-size: 20px;
                color: #fff;
                line-height: 49px;
            }
        }
        .things{
            height: auto;
            border: 0;
            .thing-eve{
                overflow: hidden;
                height: 51px;
                padding: 10px 0 0px 15px;
                .color-cir{
                    float: left;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: orange;
                    margin:4px 10px 4px 0 ;
                }
                .text{
                    float: left;
                    width: 82%;
                    height: 100%;
                    text-align: left;
                    line-height: 29px;
                    color: #fff;
                    border-bottom: 1px solid #31312F;
                    font: 18px "microsoft yahei";
                    .ico{
                    float: right;
                    width:25px;
                    height: 25px;
                    background:url(../img/icloud.png) repeat;
                    background-position: -285px -497px;
                    }
                    .ico:hover{
                        cursor: pointer;
                         background-position:-308px -497px;
                    }
                }
                
            }
        }
//      $map:(
//      'red':#F72469 20px 30px,
//      'yellow':#f3cb00 70px 90px,
//      'blue':#40acf9 7px 67px
//      );
//      @each $v in map_keys($map){
//          $l:map_get($map,$v);
//          .hh.#{$v}{
//              color: nth($l,1);
//              background: url("t.png");
//              background-position:nth($l,2) nth($l,3) ;
//          }
//      }
//      $map:(
//      'red':red 0px 90px,
//      'yellow':yellow 0px 90px
//      );
//       @each $v in map_keys($map){
//          $k:map_get($map,$v);
//          .kk.#{$v}{
//             #{$v}: nth($k,1);
//          }
//      }
    }
    .right{
        position: relative;
        float: left;
        width: 70%;
        height: 100%;
        overflow-x: hidden;
        #input{
            width: 100%;
            height:49px;
            border: 0;
            border-bottom: 1px solid #CDCDCD;
            background: transparent;
            font-size: 30px;
            padding-left: 45px;
            font-size: 20px;
            color: #ccc;
            outline: none;
        }
        .find,.in{
             position: absolute; 
             display: block;
        }
        .find{
            left: 10px;
            top: 10px;
            width: 25px;
            height: 25px;
            background: url(../img/icloud.png);
            background-position: -306px -357px;
        }
        .in{
            right: 30px;
            top: 0px;
            height: 49px;
            line-height: 49px;
            span{
               float: left;
               height: 100%;
               line-height: 49px;
            }
            span:nth-child(2){
                padding: 0 20px; 
            }
             span:nth-child(3){
                width: 23px;
                height: 23px;
                margin-top: 10px;
                background: url(../img/icloud.png);
                background-position: -281px -525px;
            }
        }
    }
    .in-list{
        margin-left: 30px;
        margin-top: 20px;
        height: 50px;
        border-bottom:  1px solid #E0E0E0;
        
        .list-head{
            color: #FF2369;
            line-height: 49px;
            font-size:35px ;
            
        }
         @each $i in map_keys($color) {                 
                      .list-head.#{$i}{
                        background-color: map_get($color,$i);
                      }
                }            
        .choose{
            float: right;
             line-height: 49px;
            margin-right: 30px;
            color: #FF2369;
            font-size: 16px;
        }
    }
    .wan{
        position: relative;
        height: 52px;
        border-bottom:  1px solid #CCCCCC;
        
        span,a{
         font-size: 20px;
            color: #9E9E9E;
            line-height: 51px;
            font-weight: 500;
         span:nth-child(2){
           font-weight: bold;
       }
        }
        .has{
            margin-left: 40px;
            .san{
                position: absolute;
                left: 30px;
                top: 24px;
                line-height: 52px;
                border: 4px solid transparent;
                border-top: 4px solid #9E9E9E;
               }
               .san-act{
                   transform: rotate(-90deg);
               }
        }
        .delet{
           float: right;
             line-height: 49px;
            margin-right: 30px;
            color: #FF2369;
            font-size: 16px; 
        }
    }
    .finish{
        width: 100%;
        height: auto;
        .finish-eve{
            position: relative;
            height: 52px;
//          padding-left: 40px;
            .fin-lis{
                position: absolute;
                top: 0;
                left: 40px;
                bottom: 0;
                margin: auto;
                width: 25px;
                height: 25px;
                background: transparent;
                border: 2px solid #FFA500;
                 border-radius: 50%;  
                .in-cir{
                 position: absolute;
                 top: 0;
                 left: 0;
                 right: 0;
                 bottom: 0;
                 margin: auto; 
                 width: 17px;
                 height: 17px;
                 border-radius: 50%; 
                 background: #FFA500; 
                }
            }
             .in-border{
                 position: absolute;
                 left:20px;
                 top: 0;
                height: 100%;
                width: 100%;
                margin-left: 60px;
                border-bottom: 1px solid #CCCCCC;
                z-index: -1;
            }
            .finish-wan{
                     position: absolute;
                right: 10px;
                top: 0;
                height: 100%;
                width: auto;
                line-height: 51px;
                }
            .finish-input{
                height: 100%;
                width: 100%;
                background: transparent;
                border: 1px solid transparent;
                border-bottom: none;
                border-top: none;
                font-size: 28px;
                padding-left: 66px;
            }
        }
    }
    ///////////////
        .nowan{
        position: relative;
        height: 52px;
        border-bottom:  1px solid #CCCCCC;
        span,a{
         font-size: 20px;
            color: #9E9E9E;
            line-height: 51px;
            font-weight: 500;
        }
       span:nth-child(3){
           font-weight: bold;
       }
        .nohas{
            position: relative;
             margin-left: 40px;
            .san{
                position: absolute;
                left: -40px;
                top: 10px;
                line-height: 52px;
                margin-left: 30px;
                border: 4px solid transparent;
                border-top: 4px solid #9E9E9E;
            }
            .san-act{
                
                transform: rotate(-90deg);
            }
        }
    }
    .unfinish{
        width: 100%;
        height: auto;
        .unfinish-eve{
            position: relative;
            height: 52px;
//          padding-left: 40px;
            .unfin-lis{
                position: absolute;
                top: 0;
                left: 40px;
                bottom: 0;
                margin: auto;
                width: 25px;
                height: 25px;
                background: transparent;
                border: 2px solid #FFA500;
                 border-radius: 50%;  
                .un-cir{
                 position: absolute;
                 top: 0;
                 left: 0;
                 right: 0;
                 bottom: 0;
                 margin: auto; 
                 width: 17px;
                 height: 17px;
                 border-radius: 50%; 
                 background: transparent; 
                }
            }
            .unfinish-input{
                height: 100%;
                width: 100%;
                background: transparent;
                border: 1px solid transparent;
                border-bottom: none;
                border-top: none;
                font-size: 28px;
                padding-left: 66px;
            }
              .un-border{
                 position: absolute;
                 left:20px;
                 top: 0;
                 height: 100%;
                 width: 100%;
                 margin-left: 60px;
                 z-index: -1;
                 border-bottom: 1px solid #CCCCCC;
                }
                .unfinish-wan{
                     position: absolute;
                right: 10px;
                top: 0;
                height: 100%;
                width: auto;
                line-height: 51px;
                }
        }
    }
    .unfinish-add{
        position: relative;
            height: 52px;
            input{
                width: 100%;
                height: 100%;
                border: 0;
                  font-size: 28px;
                background: transparent;
                
            }
            .un-border{
                position: absolute;
                left: 80px;
                top: 0;
                width: 100%;
                height: 100%;
//               margin-left: 80px;
                 border-bottom: 1px solid #CCCCCC;
                 font-size: 20px;
                 color: #9E9E9E;
                 line-height: 51px;
                 z-index: -1;
            }
            .com{
                position: absolute;
                right: 10px;
//              display: ;
                top: 0;
                height: 100%;
                width: auto;
                line-height: 51px;
            }
        }
//      $color:("blue":#04ACF6,"green":#56D75E,"yellow":#EFCB41,"brown":#A57D59,"pink":#FF2369,"orange":#FD7830);
//  @each $i in map_keys($color) {   
//                  
//        .color.#{$i} .box input{
//            color: map_get($color,$i);
//        }
//         .color .box ul li.#{$i}{
//          background: map_get($color,$i);
//          div{
//              background: map_get($color,$i);
//          }               
//        }
//    }
        .color{
        position: absolute;
        display: none;
        width: 366px;
        height: 203px;
        border-radius: 5px;
        box-shadow: 0 0 5px #ccc;
        background: #fff;
        z-index: 100;
        right: 70px;
        top: 30px;
        .box{
            width: 346px;
            height: 183px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            input{
//              color: #04ACF6;
                width: 302px;
                height: 40px;
                margin: 10px 17px;
                padding-left: 10px;
                outline: none;
                border: 1px solid #ccc;
            }
            p{
                line-height: 20px;
                margin: 10px 0;
                margin-left: 20px;
            }
            ul{
                margin-bottom: 0 !important;
                height: 35px;
                box-sizing: border-box;
                border-bottom: 1px solid #ccc;
                padding-left: 20px;
                li{
                    float: left;
                    width: 20px;
                    height: 20px;
                    position: relative;
                    margin: 0 2px;
                    border-radius: 50%;
                    box-sizing: border-box;
                    .out-cir{
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        display: block;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        border-radius: 50%;
                        .in-cir{
                            display: none;
                            @include center;
                            width:10px ;
                            height: 10px;
                            
                            border: 2px solid #FFF;
                        }
                    }
                }
                .index{
                    opacity: 0.8;
                }
                .active{
                    margin-left: 20px;
                }
            }
            .color-bottom{
                height: 25px;
                margin-top: 10px;
                 .bLeft{
                     float: left;
                     height: 25px;
                     a{
                        height: 25px;
                        color: #FF5363;
                        line-height: 25px;
                        display: block;
                        padding: 0 12px;
                         text-decoration: none;
                     }
                 }
                 .bRight{
                      float: right;
                     height: 25px;
                     a:nth-child(1){
                         text-decoration: none;
                         display: block;
                        height: 25px;
                        float: left;
                        padding: 0 10px;
                        line-height: 25px;
                        color: #04ACF6;
                        border-right: 1px solid #ccc;
                     }
                     a:nth-child(2){
                         display: block;
                        height: 25px;
                        float: left;
                        padding: 0 10px;
                        line-height: 25px;
                        color: #04ACF6;
                         text-decoration: none;
                     }
                 }
            }
        
         }
    }
    .click{
        display: block;
    }
}
 